#maincontent .cont {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}
#maincontent .cont > div:first-of-type {
  align-self: center;
}
#maincontent .cont > div:first-of-type > h2 {
  font-size: 2.2rem;
  font-weight: 650;
}
#maincontent .banner {
  height: 445px;
  width: 1312px;
  display: flex;
  flex-direction: row;
  background-color: #f7f8fa;
  position: relative;
  border-radius: 10px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#maincontent .left {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 55px;
}
#maincontent .right {
  background-image: gray;
  background-repeat: no-repeat;
  height: 445px;
  width: 646px;
  position: absolute;
  right: 0px;
}
#maincontent .right > img:first-of-type {
  display: block;
  min-width: 100%;
}
#maincontent .right > img:last-of-type {
  display: none;
}
#maincontent .line {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
#maincontent .title:first-of-type {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
}
#maincontent .title:last-of-type {
  display: none;
}
#maincontent .title-c {
  font-size: 1.5rem;
  font-weight: 700;
}
#maincontent .line > img {
  align-self: flex-start;
}
#maincontent .line > p {
  font-size: 1.1rem;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#maincontent .logos {
  overflow: hidden;
  padding: 30px 0;
  white-space: nowrap;
  position: relative;
  display: flex;
  gap: 10px;
}
#maincontent .logos:before,
#maincontent .logos:after {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  content: "";
  z-index: 2;
}
#maincontent .logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
#maincontent .logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
#maincontent .logos-slide {
  display: flex;
  gap: 10px;
  width: 300%;
  animation: 35s slide infinite linear;
}
#maincontent .card-logo {
  height: 153px;
  width: 191px;
  background-color: #f7f8fa;
  border-radius: 10px;
  display: flex;
  padding: 20px;
}
#maincontent .logos-slide img {
  margin: 1.5em auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1024px) {
  #maincontent .cont {
    margin-top: 0px;
  }
  #maincontent .cont > div:first-of-type > h2 {
    padding: 15% 5% 5%;
    font-size: 1.22rem;
    text-align: center;
  }
  #maincontent .banner {
    flex-direction: column;
    height: 750px;
    width: 352px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin: auto;
    padding: 20% 6% 30px 6%;
  }
  #maincontent .left {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0%;
  }
  #maincontent .right {
    align-self: flex-start;
    border-radius: 8px 8px 0px 0px;
    width: 352px;
    height: 163px;
    top: 0px;
    background-image: none;
  }
  #maincontent .right > img:last-of-type {
    display: block;
    min-width: 100%;
  }
  #maincontent .right > img:first-of-type {
    display: none;
  }
  #maincontent .line > .title:first-of-type {
    display: none;
  }
  #maincontent .line > .title:last-of-type {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5% 0px;
    display: block;
  }
  #maincontent .title-c {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5% 18%;
  }
  #maincontent .line > p {
    font-size: 1.1rem;
    font-weight: 400;
  }
  #maincontent .card-logo {
    height: 98px;
    width: 122.42;
    display: flex;
  }
  #maincontent .logos {
    padding: 0px 0;
  }
  #maincontent .logos-slide img {
    height: 45px;
    margin: auto;
  }
  #maincontent .logos:before,
  #maincontent .logos:after {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    content: "";
    z-index: 2;
  }
}