@charset "UTF-8";
#maincontent {
  /*slider*/
  /*section show vehicles*/
  /*section benefits*/
  /*legal*/
  /* responsive 376  */
}
#maincontent main {
  overflow-x: hidden;
}
#maincontent #slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
}
#maincontent #show_vehicles > div:first-of-type {
  margin-top: 40px;
  height: 100px;
  display: flex;
}
#maincontent #show_vehicles > div:first-of-type > h2 {
  margin: auto;
  font-size: 2.15rem;
  font-weight: 700;
}
#maincontent .container-grid {
  display: grid;
  margin-top: 20px;
  row-gap: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
#maincontent .container-grid > div {
  background-color: #f0f1f4;
  height: 283px;
  width: 646px;
  align-self: center;
  border: 0.5px solid #e4e4e4;
  border-radius: 10px;
  position: relative;
}
#maincontent .container-grid > div:nth-of-type(2) > .info > div:nth-of-type(2) > h4:last-of-type {
  display: none;
}
#maincontent .container-grid > div:nth-of-type(3) > .info > div:nth-of-type(2) > h4:last-of-type {
  display: none;
}
#maincontent .container-grid > div:first-of-type {
  justify-self: end;
}
#maincontent .container-grid > div::nth-of-type(2) {
  justify-self: start;
}
#maincontent .container-grid > div:last-of-type {
  height: 260px;
  width: 1313px;
  grid-column: span 2;
  margin: auto;
}
#maincontent .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  margin-left: 40px;
}
#maincontent .info > div > h3 {
  font-size: 1.9rem;
  font-weight: 600;
}
#maincontent .info > div > h4 {
  font-size: 1.22rem;
}
#maincontent .info > div:last-of-type {
  position: absolute;
  bottom: 30px;
}
#maincontent .pict {
  position: absolute;
  bottom: -60px;
  right: -30px;
}
#maincontent .pict-b {
  position: absolute;
  bottom: -60px;
  right: 20px;
}
#maincontent .pict-1 {
  position: absolute;
  bottom: -60px;
  right: 350px;
}
#maincontent .pict-2 {
  position: absolute;
  bottom: -60px;
  right: 20px;
}
#maincontent #benefits > .container {
  display: flex;
  flex-direction: column;
  height: 511px;
  margin-top: 100px;
  background-color: #f4fffb;
  row-gap: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
}
#maincontent .head-title:first-of-type {
  font-size: 1.9rem;
  font-weight: 650;
  text-align: center;
}
#maincontent .head-title:last-of-type {
  display: none;
}
#maincontent .legal {
  padding: 5%;
}
@media (max-width: 1024px) {
  #maincontent {
    /* "Descubre las incomparables ventajas <br> de los vehículos de ocasión" */
  }
  #maincontent #maincontent {
    display: flex;
    flex-direction: column;
  }
  #maincontent #slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 10px;
    height: 400px;
  }
  #maincontent #show_vehicles > div:first-of-type {
    margin-top: 5%;
  }
  #maincontent #show_vehicles > div:first-of-type > h2 {
    margin: auto;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding: 0px 60px;
  }
  #maincontent .container-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: 1px;
  }
  #maincontent .container-grid > div {
    height: 154.29px;
    width: 352.19px;
  }
  #maincontent .container-grid > div:nth-of-type(2) > .info > div:nth-of-type(2) > h4:first-of-type,
  #maincontent .container-grid > div:nth-of-type(3) > .info > div:nth-of-type(2) > h4:first-of-type {
    display: none;
  }
  #maincontent .container-grid > div:nth-of-type(2) > .info > div:nth-of-type(2) > h4:last-of-type,
  #maincontent .container-grid > div:nth-of-type(3) > .info > div:nth-of-type(2) > h4:last-of-type {
    line-height: 1.3;
    display: block;
  }
  #maincontent .container-grid > div:last-of-type {
    height: 176px;
    width: 352.19px;
  }
  #maincontent .pict {
    width: 200px;
    bottom: -25px;
    right: -10px;
  }
  #maincontent .pict-b {
    width: 165px;
    bottom: -20px;
    right: 10px;
  }
  #maincontent .pict-2 {
    width: 160px;
    bottom: -20px;
    right: 10px;
  }
  #maincontent .pict-1 {
    display: none;
  }
  #maincontent .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 5%;
    margin-left: 5%;
  }
  #maincontent .info > div > h3 {
    font-size: 1.03rem;
    font-weight: 600;
  }
  #maincontent .info > div > h4 {
    font-size: 0.8rem;
  }
  #maincontent .info > div:last-of-type {
    position: absolute;
    bottom: 12px;
  }
  #maincontent #benefits > .container {
    height: 785.36px;
    row-gap: 0px;
    padding: 10% 10px;
    margin-top: 50px;
  }
  #maincontent .head-title:first-of-type {
    display: none;
  }
  #maincontent .head-title:last-of-type {
    display: block;
    font-size: 1.3rem;
    font-weight: 650;
    text-align: center;
  }
  #maincontent .legal {
    font-size: 0.5rem;
    padding: 5%;
  }
  #maincontent .sep {
    height: 2px;
    width: 94%;
    margin: auto;
    margin-top: 5%;
    background-color: #e9e9e9;
  }
}